doctype 5
html(lang="en", ng-app="ConstitutionExplorer")
    head
        title Constitution Explorer!
        != css("/lib/bootstrap/less/bootstrap.css")
        != js("/lib/jquery/jquery.min.js")
        != js("https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js")
        != js("/lib/angular-bootstrap/ui-bootstrap.min.js")
        != js("main.js")
    body
        div.container-fluid
            div.row-fluid
                div(ng-controller="NavCtrl").span2
                    div.well
                        ul.nav.nav-list
                            li(nav-menu2).nav-header {{section}}
                div(ng-view).span10

