//12 columns
div(ng-show='references.items.length < 1'): h3 No references yet
div(ng-show='documents.filenames.length > 0')
    h3 Documents
    table.table.table-bordered.table-striped.table-hover
        thead
            th
            th Title
            th References
            th
        tr(ng-repeat='item in documents.filenames | orderBy:"title"')
            td.icons.span1: i(ng-click='deleteDocument(item)').icon-remove
            td.span8: a(ng-href="http://www.primarydocuments.ca/documents/{{item.name}}", target="_blank") {{item.title}}
            td
                ul
                    li(ng-repeat="reference in item.references"): a(ng-href="/{{sectionName}}/{{subSectionName}}/{{item.name}}/{{reference._id}}") {{reference.full}}
            td.icons.span1: a(ng-href="/{{sectionName}}/{{subSectionName}}/{{item.name}}").icon-plus