//12 columns
div(ng-show='references.items.length < 1'): h3 No references yet
div(ng-show='documents.filenames.length > 0')
    h3 Documents
    table.table.table-bordered.table-striped.table-hover
        thead
            th
            th Title
            th References
            th
        tr(ng-repeat='item in documents.filenames | orderBy:"title"')
            td.icons.span1: i(ng-click='deleteDocument(item)').icon-remove
            td.span8: a(ng-href="http://www.primarydocuments.ca/documents/{{item.name}}") {{item.title}}
            td
                ul
                    li(ng-repeat="reference in item.references"): a(ng-href="/{{sectionName}}/{{subSectionName}}/{{item.name}}/{{reference._id}}") {{reference.full}}
                //div(ng-show="!item.editing") {{item.full}}
                //orm(ng-show="item.editing").input-append
                //    input(type="text", ng-model="item.lines")
                //    button(ng-click="references.editLine(part, section, item, true)").btn Submit
            td.icons.span1: a(ng-href="/{{sectionName}}/{{subSectionName}}/{{item.name}}").icon-plus
//i(ng-repeat='line in item.pages').icon-remove {{line}}
//form.input-append
//    input(type="text", ng-model="item.line").span4
//    button(ng-click="references.addLine(part, section, item)").btn Submit