//12 columns
div(ng-show='section')
    div(ng-show='references.items.length < 1'): h3 No references yet
    div(ng-show='references.items.length > 0')
        h3 References
        table.table
            thead
                
            tr(ng-repeat='item in references.items')
                td {{item.title}}
div(ng-show='!section')
    div: h3 Select a section to see references